.service {
  .titles {
    max-width: 100%;
  }

  .intro > div {
    display: flex;
    flex-direction: column;
    gap: var(--lg);

    max-width: var(--max-block-width);
    margin-inline: auto;

    .list {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      flex-wrap: wrap;

      gap: var(--sm);

      @media screen and (min-width: 900px) {
        gap: var(--lg) var(--md);
      }

      > li {
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.08em;

        text-align: center;

        @media screen and (min-width: 900px) {
          text-align: left;
          max-width: calc((100% - var(--md)) / 2);
        }

        @media screen and (min-width: 1200px) {
          max-width: calc((100% - var(--md) * 2) / 3);
        }
      }
    }
  }

  .projects {
    padding-top: 0;

    > div {
      display: flex;
      flex-direction: column;
      gap: var(--md);

      @media screen and (min-width: 900px) {
        gap: var(--lg);
      }
    }
  }
}
