.btn {
  font-size: var(--fs-h6);
  letter-spacing: 0.07em;
  text-transform: uppercase;

  padding: 14px 18px;
  width: fit-content;
  height: fit-content;
  min-width: 150px;

  color: var(--white);
  background-color: var(--gold);
  border: 2px var(--gold) solid;

  display: flex;
  flex-direction: row;
  gap: var(--xs);

  text-align: center;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--yellow);
    color: var(--dark);
    border-color: var(--yellow);
  }

  &:active {
    border-color: var(--white);
  }

  &.big {
    font-size: var(--fs-h5);
  }

  &.small {
    font-size: 12px;
    min-width: 0;
    padding: 4px 6px;
  }

  &.secondary {
    color: var(--dark);
    background-color: var(--gray);
    border-color: var(--gray);

    &:hover {
      background-color: var(--white);
      border-color: var(--white);
    }

    &:active {
      border-color: var(--gold);
    }
  }

  &.outline {
    background: transparent !important;
    padding: 10px 28px;

    color: var(--dark);

    &:hover {
      border-color: var(--dark);
    }

    &:active {
      border-color: var(--white);
    }
  }

  &.outline.secondary {
    color: var(--white);
    border-color: var(--yellow);

    &:hover {
      border-color: var(--white);
    }

    &:active {
      border-color: var(--gold);
    }
  }

  &:disabled {
    color: var(--dark);
    background: var(--gray);
    border-color: var(--gray);
    cursor: not-allowed;

    opacity: 0.5;

    &:hover {
      color: var(--dark);
      background: var(--gray);
      border-color: var(--gray);
    }

    &:active {
      color: var(--dark);
      background: var(--gray);
      border-color: var(--gray);
    }
  }
}
