.footer {
  border-top: 4px solid var(--yellow);

  &__submenu > a {
    font-size: var(--fs-sm);
    text-transform: capitalize;
    letter-spacing: 0.01em;

    &::after {
      content: ' | ';
    }

    &:last-of-type::after {
      content: '';
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: var(--margin) var(--sct-horiz-margin) 50px;
    width: 100%;

    &__logo {
      order: 0;
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      > img {
        max-width: 100%;
        height: fit-content;
      }
    }

    &__top {
      order: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      &__socials {
        display: flex;
        flex-direction: row;
        font-size: 30px;
        letter-spacing: 1em;

        > a {
          color: var(--gold);
        }
      }
    }

    &__bottom {
      order: 2;
      display: flex;
      flex-direction: column;
      gap: var(--margin);
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      &__right {
        display: flex;
        flex-direction: column;

        font-size: var(--fs-h5);
        text-transform: uppercase;
        letter-spacing: 0.08em;

        > a,
        > div {
          padding: var(--margin) 0;
          border-top: solid 1px rgba(250, 250, 250, 0.5);

          &:last-child {
            border-bottom: solid 1px rgba(250, 250, 250, 0.5);
          }
        }
      }

      &__left {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__elt {
          > h5 {
            color: var(--yellow);
          }

          > p {
            margin: 0;
          }
        }
      }
    }
  }

  &Bottom {
    padding: var(--margin) var(--sct-horiz-margin);
    color: var(--dark-gray);
    background: var(--black);
    > div {
      display: flex;

      flex-direction: column-reverse;
      gap: var(--margin);
      align-items: flex-start;
      justify-content: space-between;

      @media screen and (min-width: 856px) {
        flex-direction: row;
      }

      small {
        width: fit-content;
        max-width: var(--large-content-width);

        &:last-of-type {
          text-align: right;
        }

        > a {
          opacity: 0.75;
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    border-top: 4px solid var(--yellow);

    &__submenu > a {
      font-size: var(--fs-sm);
      text-transform: capitalize;
      letter-spacing: 0.01em;

      &::after {
        content: ' | ';
      }

      &:last-of-type::after {
        content: '';
      }
    }

    &Body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      padding: var(--margin) var(--sct-horiz-margin) 50px;

      &__logo {
        order: 1;
      }

      &__top {
        order: 0;
        height: 120px;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        border-bottom: solid 1px rgba(250, 250, 250, 0.5);
      }

      &__bottom {
        order: 2;
        flex-direction: row-reverse;
        justify-content: space-between;

        &__right {
          min-width: 400px;
        }
      }
    }
  }
}
