.menu {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &__hidden {
    top: calc(var(--navbar-height) * -1);
    transition: all 0.3s ease-in-out;
  }

  > .mainMenu {
    width: 100%;
    height: var(--navbar-height);

    display: flex;

    padding: 0px var(--sct-horiz-margin);

    border-bottom: 1px solid rgba(125, 125, 125, 0);
    transition: all 0.3s ease-in-out;

    > .mainMenu__container {
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-between;
    }
  }

  &:hover {
    > .mainMenu {
      background: var(--black);
      transition: all 0.3s ease-in-out;
      border-bottom: 1px solid rgba(125, 125, 125, 0.5);
    }
  }

  &__links {
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: var(--md);

    font-size: var(--fs-h6);
    text-transform: uppercase;
    letter-spacing: 0.07em;

    @media screen and (min-width: 1300px) {
      gap: var(--lg);
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }

    > a:not(:last-of-type) {
      display: flex;
      align-items: center;
      height: 100%;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid var(--yellow);
      }
    }
  }
}

.logo {
  display: flex;
}

.menu__scrolling {
  background: var(--dark);
  border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}

.menu__open {
  background: var(--black);
  border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  0% {
    // transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    //transform: translateY(0px);
    opacity: 1;
  }
}

.submenu {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > label {
    display: flex;
    height: 100%;
    cursor: pointer;
    align-items: center;

    > span {
      display: flex;
      flex-direction: row;
      gap: 5px;
      &::after {
        display: block;
        color: var(--gold);
        content: '▾';
        transform: rotate(-90deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
      }
    }

    > input {
      display: none;

      /*
      DEV : not working yet.

      &:checked + span::after {
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
      }

      */
    }
  }

  .sublinks {
    position: absolute;
    left: calc(var(--xs) * -1); // same as horiz padding
    bottom: calc((var(--fs-sm) + var(--sm)) * -1);

    display: flex;
    flex-direction: column;
    gap: var(--sm);
    background-color: var(--black);
    padding: 0px;

    height: fit-content;
    max-height: 0px;
    overflow: hidden;

    > a {
      padding-inline: var(--xs);

      &:first-of-type {
        padding-top: var(--sm);
      }

      &:last-of-type {
        padding-bottom: var(--sm);
      }
    }
  }

  &:hover {
    > label > span::after {
      transform: rotate(0deg);
    }

    > .sublinks {
      max-height: 100px;
    }
  }
}
