.btn {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 8px;
  text-transform: uppercase;
  width: fit-content;
  min-width: 150px;
  max-height: 52px;
  border: solid 2px var(--accent);

  font-size: var(--fs-h6);
  font-weight: 500;
  letter-spacing: 0.07em;
  transition: all 0.3s ease-in-out;

  background: var(--accent);

  // Sizes
  &__small {
    padding: 12px 30px;
    gap: 10px;
  }

  &__big {
    font-size: var(--fs-h5);
    letter-spacing: 0.08em;
    padding: 11px 40px;
    gap: 8px;
  }

  // Types
  &:hover {
    cursor: pointer;
    border: solid 2px var(--accent-dark);
    background: var(--accent-dark);
    color: var(--dark);
    transition: all 0.3s ease-in-out;
    transform: translateY(-1px);
    box-shadow: var(--shadow-hover);
  }

  &:active {
    border: solid 2px var(--white);
    background: var(--accent);
    box-shadow: var(--shadow-clicked);
    color: var(--white);
    transition: all 0s;
  }

  &__secondary {
    border: solid 2px var(--gray);
    background: var(--gray);

    &:hover {
      border: solid 2px var(--white);
      background: var(--white);
    }

    &:active {
      background: var(--white);
      border: solid 2px var(--accent);
    }
  }

  &__black {
    border: solid 2px var(--dark);
    background: var(--dark);

    &:hover {
      border: solid 2px var(--dark);
      color: var(--white);
      background: var(--black);
    }

    &:active {
      background: var(--dark);
      border: solid 2px var(--accent);
    }
  }

  &__outline {
    border: solid 2px var(--gray);

    color: var(--white);
    background: transparent;

    &:hover {
      background: transparent;
      border: solid 2px var(--accent);
      color: var(--white);
    }

    &:active {
      background: transparent;
      border: solid 2px var(--accent);
      color: var(--accent);
    }
  }
}