.formSection {
  flex-direction: column;
  gap: var(--vert-spacing);
  

  > h2 {
    text-align: center;
  }
  > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) * 2);
  }
}

.input {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;

  > input,
  > textarea,
  > select {
    width: 100%;
    padding: var(--padding);
    background: var(--white);
    border: 1px solid var(--gray);
    font-size: var(--fs-sm);
  }

  > textarea {
    min-height: 240px;
  }

  *:required + span::after {
    content: '*';
  }

  > span {
    font-size: var(--fs-h5);
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .formSection > form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--margin);
  }

  .input {
    width: calc((100% - var(--margin)) / 2);
    margin-bottom: var(--margin);

    &:has(textarea) {
      width: 100%;
    }
  }
}
