.formSection {
  flex-direction: column;
  gap: var(--vert-spacing);

  > h2 {
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) * 2);
  }
}

.input {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;

  > input,
  > textarea,
  > select {
    width: 100%;
    padding: var(--padding);
    background: var(--white);
    border: 1px solid var(--gray);
    font-size: var(--fs-sm);
  }

  > textarea {
    min-height: 240px;
  }

  *:required + span::after {
    content: '*';
  }

  > span {
    font-size: var(--fs-h5);
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form__bottom {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.status {
  &__success > i {
    margin-right: 5px;
    color: green;
  }
  &__error > i {
    margin-right: 5px;
    color: rgb(104, 0, 0);
  }

  &__sending {
    display: flex;
    flex-direction: row;
    align-items: center;

    > i {
      margin-right: 5px;
      animation: spin 1.5s infinite linear;
    }
  }
}

@media screen and (min-width: 768px) {
  .formSection form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--margin);
  }

  .input {
    width: calc((100% - var(--margin)) / 2);
    margin-bottom: var(--margin);
  }

  .textarea {
    width: 100%;
  }
}
