.contactCTA {
    height: 400px;
    padding: var(--margin);
    flex-direction: column;
    gap: var(--padding);
    background-size: cover;
    background-position: center;
    justify-content: center;
}