.image {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  &:hover {
    > .image__overlay {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    > img {
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);
    }
  }

  &__overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    padding: var(--padding);
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;

    transition: all 0.3s ease-in-out;

    > p {
      display: flex;
      word-break: break-word;
      color: var(--white);
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }

  > img {
    transition: all 0.3s ease-in-out;
    z-index: 0;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .image {
    max-width: calc((100% - var(--margin)) / 2);
  }
}
