.infography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__blocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--margin);
    justify-content: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc((100% - var(--margin)) / 2);
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}
