.infography{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    color: #000;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.paragraph {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.label {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.line {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}