.menu {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in-out;

  > .mainMenu {
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    padding: 0px var(--sct-horiz-margin);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(125, 125, 125, 0);
    transition: all 0.3s ease-in-out;
  }

  @media only screen and (min-width: 2400px) {
    > .mainMenu {
      display: flex;
      justify-content: space-around;
      padding: 0px;
    }
    
  }

  &:hover {
    > .mainMenu {
      background: var(--black);
      transition: all 0.3s ease-in-out;
      border-bottom: 1px solid rgba(125, 125, 125, 0.5);
    }
  }

  &__links {
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: var(--sct-horiz-margin);

    font-size: var(--fs-h6);
    text-transform: uppercase;
    letter-spacing: 0.07em;

    > a:not(:last-of-type) {
      display: flex;
      align-items: center;
      height: 100%;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid var(--accent-dark);
      }
    }
  }
}

.logo {
  display: flex;
}

.menu__scrolling {
  background: var(--dark);
  border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}

.menu__open {
  background: var(--black);
  border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}

.burger {
  z-index: 12;
  width: 30px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;

  > span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--accent);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }

  &__closed {
    > span {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 4px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 22px;
        left: 4px;
      }
    }
  }
}

.submenu::after {
  padding-left: 8px;
  color: var(--accent);
  content: '▾';
}

@keyframes fadeIn {
  0% {
    // transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    //transform: translateY(0px);
    opacity: 1;
  }
}

.submenu:hover + .submenu__content,
.submenu__content:hover {
  animation: fadeIn 0.3s;
  display: flex;
}

.submenu__content {
  overflow: hidden;
  z-index: 9;
  display: none;
  position: absolute;
  left: 0px;
  top: var(--navbar-height);
  width: 100%;
  background: var(--dark);
  padding: 60px var(--margin);
  flex-direction: row;
  justify-content: center;
  gap: var(--margin);

  > a {
    height: 100%;
    min-height: 180px;
    width: 320px;
    display: flex;
    background-color: var(--black);
    background-position: center;
    background-size: cover;
    padding: var(--margin);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;
      color: var(--white);

      > p {
        max-height: 500px;
        height: fit-content;
        opacity: 1;
        transition: opacity 0.25s, max-height 0.3s;
      }
    }

    > p {
      margin: 0;
      text-transform: none;
      max-height: 0px;
      opacity: 0;
      text-align: center;
      transition: opacity 0.25s, max-height 0.3s;
    }
  }
}

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }

  .menu__links {
    display: flex;
  }
}
