.mobileMenu {
  z-index: 10;
  padding: 30px var(--margin);
  background: var(--dark);
  height: calc(100vh - var(--navbar-height));
  height: calc(100svh - var(--navbar-height));
  position: fixed;
  top: var(--navbar-height);

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  &__open {
    left: 0px;
    transition: left 0.3s ease-in-out;
  }

  &__closed {
    left: 100%;
    transition: left 0.3s ease-in-out;
  }

  &__links {
    display: flex;
    flex-direction: column;

    > button {
      background: none;
      border: none;
      color: var(--white);

      &::after {
        content: ' ▸';
        color: var(--accent);
      }
    }

    > a,
    > button {
      padding: 18px 0px;
      border-bottom: 1px solid rgba(250, 250, 250, 0.5);
      font-size: var(--fs-h5);
      text-transform: uppercase;
      letter-spacing: 0.08em;
      text-align: left;
    }
  }

  &__contactInfos {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__elt > h5 {
      color: var(--accent-dark);
    }
  }

  &__socials {
    border-top: 1px solid rgba(250, 250, 250, 0.5);
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 30px;
    padding: 20px 0;
    > a {
      color: var(--accent);
    }
  }
}

.mobileSubMenu {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--black);
  width: 100%;
  height: 100vh;
  height: 100svh;

  &__open {
    left: 0px;
    transition: left 0.3s ease-in-out;
  }

  &__closed {
    left: 100%;
    transition: left 0.3s ease-in-out;
  }

  &__top {
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--sct-horiz-margin);

    > button[type='button'] {
      background: none;
      border: none;
      font-size: var(--fs-h5);
      text-transform: uppercase;
      letter-spacing: 0.08em;
      color: var(--white);

      &::before {
        content: '◂ ';
        color: var(--accent);
      }
    }
  }

  &__body {
    height: 100%;
    > a {
      display: flex;
      font-size: var(--fs-h5);
      letter-spacing: 0.08em;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      width: 100%;
      height: calc((100% - var(--navbar-height)) / 3);
      background-size: cover;
      background-position: center;
    }
  }
}
