.nl {
  padding: var(--sct-vert-margin) var(--sct-horiz-margin);
  display: flex;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  gap: var(--padding);
  position: relative;

  &__titles {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    > p {
      margin: 0;
    }
  }

  &__input {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    > input[type="email"] {
      background: transparent;
      color: var(--white);
      border: solid 1px var(--accent);
      font-size: var(--fs-p);
      padding: var(--padding);
    }
  }
}

.submit {
  color: inherit;
  border: none;
}
