.otherServices {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--sct-vert-margin) 0;
  text-align: center;

  > h5 {
    color: var(--accent-dark);
    padding: 0 var(--margin) var(--vert-spacing);
  }

  &Line {
    display: flex;
    flex-direction: column;
  }
}

.otherServiceBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--vert-spacing);
  padding: var(--vert-spacing) var(--sct-horiz-margin);
  background-size: cover;
  background-position: center;

  > a {
    z-index: 2;
    color: var(--dark);
    background-color: var(--gray);
    border-color: var(--gray);
  }

  &__overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: var(--dark);
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  &__titles {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: var(--title-text-space);

    &__images {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .otherServices {
    position: relative;
    padding: 0;

    > h5 {
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, 0);
      background: var(--dark);
      padding: var(--padding);
    }
    &Line {
      flex-direction: row;
    }
  }
  .otherServiceBlock {
    width: 50%;
    padding: calc(var(--sct-vert-margin) * 1.6) var(--sct-horiz-margin) var(--sct-vert-margin);

    &__titles {
      &__images {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .img {
      &__white {
        display: flex;
      }

      &__yellow {
        display: none;
      }
    }

    &:hover {
      > a {
        color: var(--white);
        background-color: var(--accent);
        border-color: var(--accent);
      }

      .otherServiceBlock__overlay {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
      .img {
        &__white {
          display: none;
        }

        &__yellow {
          display: flex;
        }
      }
    }
  }
}
