.service {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 50px var(--margin);
  align-items: center;
  text-align: center;
  border: solid 1px var(--white);
  width: 300px;
  // max-width: 300px;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__images {
    display: flex;
    flex-direction: column;

    > .img {
      &__white {
        opacity: 1;
        height: fit-content;
      }

      &__yellow {
        opacity: 0;
        height: 0;
      }
    }
  }

  &:hover {
    background: var(--dark);
    border: solid 1px var(--accent-dark);

    .img {
      &__white {
        opacity: 0;
        height: 0;
      }

      &__yellow {
        opacity: 1;
        height: fit-content;
      }
    }
  }
}
