.test {
  display: block;
  width: 300px;
  height: 300px;
  background-color: red;
}

.services {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  gap: var(--vert-spacing);

  > h2 {
    text-align: center;
  }

  &__holder {
    display: flex;
    flex-direction: row;
    gap: var(--margin);
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(300px);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > article {
      scroll-snap-align: center;
      flex-shrink: 0;
      transform-origin: center center;

      &:last-of-type {
        margin-right: var(--margin);
      }

      &:first-of-type {
        margin-left: var(--margin);
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--margin);

    > a {
      width: 15px;
      height: 15px;
      background: var(--accent-dark);
    }
  }
}
