.service {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 50px var(--margin);
  align-items: center;
  text-align: center;
  border: solid 1px var(--white);
  width: 300px;
  // max-width: 300px;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    position: relative;

    > .img {
      position: absolute;
      height: 100px;
      width: auto;

      &__placeholder {
        position: relative;
        opacity: 0;
      }

      &__white {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      &__yellow {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }

  &:hover {
    background: var(--dark);
    border: solid 1px var(--accent-dark);

    > a {
      background-color: var(--accent);
      border-color: var(--accent);
      color: var(--white);
    }

    .img {
      &__white {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      &__yellow {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
