.txtImgSection {
  > div {
    flex-direction: column;
    gap: var(--margin);
    align-items: flex-start;
    justify-content: center;
  }

  &__surtitle {
    text-align: center;
  }

  &__image {
    height: 380px;
    width: 100%;
    max-width: 310px;
    background-size: cover;
    background-position: center;
  }

  &__content {
    margin-top: calc(var(--margin) * -2.5);
    display: flex;
    flex-direction: column;
    gap: var(--margin);

    > img {
      max-width: 100%;
      height: auto;
    }

    > h5 {
      display: none;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: var(--margin);

    > p {
      margin: 0;
    }
  }

  h5 {
    color: var(--accent-dark);
  }
}

@media screen and (min-width: 768px) {
  .txtImgSection {
    > div {
      flex-direction: row;
      height: fit-content;
      gap: var(--sct-horiz-margin);
    }

    &__image {
      margin: 0;
    }

    &__surtitle {
      display: none;
    }

    &__texts {
      width: 100%;
    }

    &__content {
      width: 100%;
      margin-top: 0;

      > h2 {
        width: 100%;
        margin-left: calc(var(--sct-vert-margin) * -1);
      }

      > img {
        height: 100%;
        width: auto;
        margin-left: calc(var(--sct-vert-margin) * -1.2);
      }

      > h5 {
        display: flex;
      }
    }
  }
}
