.txtImgSection {
  flex-direction: column;
  gap: var(--margin);
  align-items: center;

  &__surtitle {
    text-align: center;
  }

  &__image {
    width: 100%;
    max-width: calc(100% - 2 * var(--margin));
    height: 380px;
    background-size: cover;
    background-position: center;
  }

  &__content {
    margin-top: calc(var(--margin) * -2);
  }

  h5 {
    color: var(--accent-dark);
  }

  &.light {
    background-color: red !important;
    h5 {
      color: var(--accent);
    }
  }
}
