<html>

<head>
    <meta charset="utf-8" />
    <title>Confirmation | Paris &amp; Comtesse SA</title>
 <style>
        /* Styles for email content */
        body {
            font-family: Tahoma, Arial,
                sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #1d1f22;
        }

        .wrapper {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color:
                #f9f7f1;
        }

        p {
            margin-top: 0;
            margin-bottom: 20px;
        }

        footer {
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #000;
            color: #696969;
            padding: 10px 20px;
        }

        header {
            max-width: 600px;
            margin: 0 auto;
            border-top: solid 3px #a88d44;
            background-color: #f9f7f1;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        header h1 {
            font-size: 24px;
            margin: 0;
            text-align: center;

        }

        a {
            color: #a88d44;
            text-decoration: none;
            font-size: 14px;
        }

        header a {
            width: 100%;
            margin: 0 auto;
            text-align:
                center;


            letter-spacing: .03em;

        }
    </style>
</head>

<body>
    <header>
        <h1>Confirmation d'envoi</h1>
        <a href="https://pc-sa.ch" target="_blank" rel="noreferrer noopener">pc-sa.ch</a>
    </header>
    <div class="wrapper">

        <hr />
        <p>Bonjour,</p>
        <p>Merci pour la considération que vous portez à notre entreprise.</p>
        <p>Nous avons bien reçu votre demande, elle sera traitée dans les plus
            brefs délais.</p>
        <p>Si votre demande est urgente, merci de nous contacter par téléphone au numéro suivant: <a
                href="tel:+41328461430">+41 32 846 14 30</a></p>
        <p>Cordialement,<br />Paris &amp; Comtesse</p>
    </div>
    <footer>
        <small>Paris &amp; Comtesse SA</small>
        <small><a href="https://www.instagram.com/parisetcomtesse/" target="_blank">Ig</a> - <a href="https://www.facebook.com/parisetcomtesse" target="_blank">Fb</a> - <a href="https://www.linkedin.com/company/paris-comtesse-sa/" target="_blank">In</a></small>
        <small>Baconnière 55, CH-2017 Boudry</small>
    </footer>
</body>

</html>