html {
  background-color: var(--dark);
  scroll-behavior: smooth;
  font-family: var(--circular-font);
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

abbr,
abbr[title] {
  border: none;
  text-decoration: none;
}

section {
  padding: var(--sct-vert-margin) var(--sct-horiz-margin);
  display: flex;

  &.dark {
  }

  &.light {
    background-color: var(--gold-white);
    color: var(--black);
  }
}

// Display
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

// Colors
.color-accent {
  color: var(--accent) !important;
}

.color-accent-dark {
  color: var(--accent-dark) !important;
}

// For menu OnScroll
.bg-dark {
  background: var(--dark);
}

.overlay {
  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
