* {
  --white: #fafafa;
  --gold-white: #f9f7f1;
  --dark: #1d1f22;
  --black: #000000;
  --gray: #d9d9d9;
  --dark-gray: #696969;

  --accent: #a88d44;
  --accent-dark: #fcc238;

  --shadow-hover: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-clicked: inset 0px 0px 4px rgba(0, 0, 0, 0.25);

  --fs-h1: 80px;
  --fs-h2: 50px;
  --fs-h2-caps: 60px;
  --fs-h3: 30px;
  --fs-h4: 24px;
  --fs-h5: 19px;
  --fs-h6: 15px;
  --fs-p: 18px;
  --fs-sm: 14px;

  --margin: 15px;
  --padding: 10px;
  --vert-spacing: 50px;
  --title-surtitle-space: 10px;
  --title-text-space: 30px;

  --sct-vert-margin: 150px;
  --sct-horiz-margin: 20px;

  --navbar-height: 80px;
  --max-block-width: 100%;
  --max-container-width: 1200px;

  --large-content-width: 1600px;
  --gallery-img-height: 500px;
}

#phone::before {
  content: '+41 32 846 14 30';
  display: inline;
}

#mail::before {
  content: 'info@pcsa.ch';
  display: inline;
}

@media screen and (min-width: 768px) {
  * {
    --fs-h1: 120px;
    --fs-h2: 70px;
    --fs-h2-caps: 100px;
    --fs-h3: 40px;
    --fs-h4: 30px;
    --fs-h5: 22px;
    --fs-h6: 15px;
    --fs-p: 21px;
    --fs-sm: 16px;

    --margin: 20px;
    --padding: 15px;
    --title-surtitle-space: 15px;
    --title-text-space: 30px;
    --vert-spacing: 75px;

    --sct-vert-margin: 150px;
    --sct-horiz-margin: 70px;

    --navbar-height: 140px;
    --max-block-width: 1200px;

    --large-content-width: 1600px;
  }
}
