* {
  // COLORS
  --white: #fafafa;
  --gold-white: #f9f7f1;
  --dark: #1d1f22;
  --black: #000000;
  --gray: #d9d9d9;
  --dark-gray: #696969;

  --dark-rgb: 29, 31, 34;

  --gold: #a88d44;
  --gold-muted: #cec19e;
  --yellow: #fcc238;

  --shadow-hover: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-clicked: inset 0px 0px 4px rgba(0, 0, 0, 0.25);

  // FONT SIZES
  --fs-h1-home: 30px;
  --fs-h1: 42px;
  --fs-h2: 33px;
  --fs-h2-caps: 50px;
  --fs-h3: 27px;
  --fs-h4: 21px;
  --fs-h5: 17px;
  --fs-h6: 14px;
  --fs-p: 17px;
  --fs-sm: 14px;

  // SPACINGS

  --xs: 6px;
  --sm: 12px;
  --md: 24px;
  --lg: 48px;
  --xl: 96px;

  --margin: var(--md);
  --padding: var(--sm);
  --vert-spacing: var(--lg);

  --sct-vert-margin: var(--xl);
  --sct-horiz-margin: var(--sm);
  --sct-default-margins: var(--sct-vert-margin) var(--sct-horiz-margin);

  --navbar-height: 78px;

  --max-paragraph-width: 100%;
  --max-block-width: 100%;

  --max-container-width: 1300px;
  --large-content-width: 100%; // max-width for large screens
  --gallery-img-height: 177px;

  @media screen and (min-width: 900px) {
    --fs-h1-home: 65px;
    --fs-h1: 100px;
    --fs-h2: 50px;
    --fs-h2-caps: 100px;
    --fs-h3: 37px;
    --fs-h4: 28px;
    --fs-h5: 21px;
    --fs-h6: 16px;
    --fs-p: 21px;
    --fs-sm: 16px;

    // SPACINGS
    --vert-spacing: 72px;

    --sct-vert-margin: 120px;
    --sct-horiz-margin: 72px;

    --navbar-height: 120px;

    --max-paragraph-width: 1020px;
    --max-block-width: 1200px;

    --max-container-width: 1440px;
    --large-content-width: 1600px; // max-width for large screens
    --gallery-img-height: 424px;
  }
}

#phone::before {
  content: '+41 32 846 14 30';
  display: inline;
}

#mail::before {
  content: 'info@pc-sa.ch';
  display: inline;
}
