@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.block {
  z-index: 5;
  background-color: var(--yellow);
  color: var(--dark);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  max-width: 400px;
  box-shadow: var(--shadow-hover);

  &.desktop {
    display: none;
    position: absolute;
    bottom: -120px;
    right: var(--sct-horiz-margin);
    margin-left: var(--sct-horiz-margin);
    animation: fadeIn ease-in-out 0.5s;

    @media screen and (min-width: 998px) {
      display: flex;
    }
  }

  &.mobile {
    margin: var(--padding) auto;
    width: calc(100% - 2 * var(--sct-horiz-margin));
    max-width: 390px;
    text-align: center;
    align-items: center;
    transform: translateY(-25px);

    @media screen and (min-width: 998px) {
      display: none;
    }
  }
}
