.video {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  > .desktop {
    display: none;

    @media screen and (min-width: 700px) {
      display: block;
    }
  }

  > .mobile {
    display: block;

    @media screen and (min-width: 700px) {
      display: none;
    }
  }
}
