.article {
}

.card {
  background-color: transparent;
  color: var(--dark);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--md);

  padding: var(--sm);
  padding-bottom: var(--md);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: inherit;
    background-color: var(--white);

    transition: all 0.3s ease-in-out;
    transform: translateY(-2px);
    box-shadow:
      -2px 2px 4px 0 rgba(255, 255, 255, 0.25) inset,
      0 8px 18px 0 rgba(0, 0, 0, 0.05);
  }

  > img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;

    @media screen and (min-width: 900px) {
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    gap: var(--xs);

    > h3 {
      font-size: 24px;
      font-weight: 600;
    }

    > p {
      font-size: var(--fs-sm);
      text-transform: uppercase;
      opacity: 0.8;
    }

    > span {
      color: var(--gold);
      font-size: var(--fs-sm);
      display: flex;
      flex-direction: row;
      gap: var(--xs);
    }
  }
}
