.services {
  display: flex;
  flex-direction: column;
  gap: var(--md);

  @media screen and (min-width: 900px) {
    gap: var(--lg);
  }

  .blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);

    max-width: var(--max-block-width);
    margin-inline: auto;

    @media screen and (min-width: 900px) {
      gap: var(--md);
    }
  }
}

.serviceBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  align-items: flex-start;
  justify-content: flex-end;

  padding: var(--md);
  width: 100%;
  overflow: hidden;
  box-shadow:
    2px 2px 12px 0 rgba(255, 255, 255, 0.05) inset,
    -4px 4px 24px 0 rgba(0, 0, 0, 0.1);

  height: 500px;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 1200px) {
    width: calc((100% - var(--md)) / 2);
  }

  &:hover {
    color: inherit;
    box-shadow:
      2px 2px 12px 0 rgba(255, 255, 255, 0.1) inset,
      -4px 4px 24px 0 rgba(0, 0, 0, 0.2);

    > img {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.02);
    }
  }

  > img {
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
    inset: 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  > .overlay {
    inset: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, rgba(29, 31, 34, 0) 0%, rgba(29, 31, 34, 0.9) 85.53%);
  }

  > .textLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sm);

    color: var(--yellow);
  }
}
