.hero {
  height: 60vh;
  height: 60svh;
  position: relative;

  word-break: break-word;
  // overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  padding: var(--lg) var(--sct-horiz-margin);

  > img {
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: var(--black);
    z-index: 1;
  }

  > .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    width: 100%;
    max-width: var(--large-content-width);
    margin-left: auto;
    margin-right: auto;
    z-index: 2;

    p {
      margin: 0;
      text-wrap: balance;
      text-wrap: pretty;
    }
  }

  @keyframes bumping {
    0% {
      transform: translateY(0px);
    }

    25% {
      transform: translateY(-2px);
    }
    75% {
      transform: translateY(2px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

.homeHero {
  position: relative;
  height: 90vh;
  height: 90svh;
  justify-content: flex-end;

  padding-block: var(--vert-spacing);

  > .hero__content {
    align-items: flex-start;
    text-align: left;

    > .texts {
      display: flex;
      flex-direction: column;
      gap: var(--sm);

      > h1 {
        font-size: var(--fs-h1-home);
      }

      > p > em {
        font-style: normal;
        color: var(--yellow);
      }
    }

    > .btns {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: var(--sm);
      justify-content: space-between;

      > .ctas {
        display: flex;
        flex-direction: row;
        gap: var(--sm);
      }
    }
  }
}

.arrow {
  width: 44px;
  height: 44px;
  // border: solid 1px var(--yellow);
  display: none;
  justify-content: center;
  align-items: center;
  outline: solid 0px var(--dark);

  @media screen and (min-width: 900px) {
    display: flex;
  }

  > img {
    width: 100%;
    max-width: 36px;
    height: auto;
  }

  &:hover {
    animation: none;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark);
    outline: solid 6px var(--dark);
  }
}
