.section {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
  align-items: center;

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--sm);
    max-width: var(--large-content-width);
    margin-inline: auto;

    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      width: 100%;

      @media screen and (min-width: 900px) {
        max-width: calc((100% - var(--sm)) / 2);
      }

      @media screen and (min-width: 1200px) {
        max-width: calc((100% - var(--sm) * 2) / 3);
      }
    }
  }
}
