.services {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  gap: var(--vert-spacing);
  background-size: cover;
  background-position: center;
  position: relative;

  > .overlay {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);

    &__particuliers,
    &__collectivites,
    &__entreprises {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: 0.3s opacity ease-in-out;
      background-position: center;
      background-size: cover;

      &.overlay__active {
        opacity: 1;
        transition: 0.3s opacity ease-in-out;
      }
    }
  }

  @media only screen and (min-width: 1000px) {
    align-items: center;
  }

  > h2 {
    z-index: 1;
    text-align: center;
  }

  &__holder {
    z-index: 0;
    display: flex;
    flex-direction: row;
    gap: var(--margin);
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(300px);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: var(--large-content-width);
    padding: 0 var(--margin);

    &::-webkit-scrollbar {
      display: none;
    }

    > article {
      scroll-snap-align: center;
      flex-shrink: 0;
      transform-origin: center center;

      &:last-of-type {
        margin-right: var(--margin);
      }

      &:first-of-type {
        margin-left: var(--margin);
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--margin);

    > a {
      width: 15px;
      height: 15px;
      background: var(--yellow);
    }
  }
}
