.careers {
  &__intro {
    flex-direction: column;
    gap: var(--title-text-space);
    padding-bottom: 0px;
  }

  &__imgBanner {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
  }

  &__jobs {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
