.service {
  &__intro {
    flex-direction: column;
    gap: var(--vert-spacing);
    padding-bottom: var(--vert-spacing);
  }

  &__titles {
    display: flex;
    flex-direction: column;
    gap: var(--title-surtitle-space);

    > h5 {
      color: var(--accent);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    gap: var(--margin);

    > li {
      list-style: none;
      text-transform: uppercase;
      font-size: var(--fs-h5);
      letter-spacing: 0.08em;
      text-align: center;
    }
  }
}

.gallery {
  padding-top: var(--vert-spacing);
  flex-direction: column;
  gap: var(--vert-spacing);

  &__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--margin);
    max-width: 450px;
  }
}

@media screen and (min-width: 576px) {
  .service__list {
    flex-direction: row;
    flex-wrap: wrap;
    > li {
      width: calc((100% - 2 * var(--margin)) / 3);
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery__images {
    max-width: 100%;
  }
}
