.service {
    &__intro {
        flex-direction: column;
        gap: var(--vert-spacing);
        padding-bottom: var(--vert-spacing);
    }

    &__titles {
        display: flex;
        flex-direction: column;
        gap: var(--title-surtitle-space);

        >h5 {
            color: var(--accent);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        >li {
            list-style: none;
            text-transform: uppercase;
            font-size: var(--fs-h5);
            letter-spacing: 0.08em;
            text-align: center;

            &:nth-of-type(even) {
                margin-bottom: var(--vert-spacing);
            }
        }
    }
}

.gallery {
    padding-top: var(--vert-spacing);
    flex-direction: column;
    gap: var(--vert-spacing);
}