.service {
  &__intro > div {
    flex-direction: column;
    gap: var(--vert-spacing);
    padding-bottom: var(--vert-spacing);
  }

  &__titles {
    display: flex;
    flex-direction: column;
    gap: var(--title-surtitle-space);

    > h5 {
      color: var(--accent);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    gap: var(--margin);

    > li {
      list-style: none;
      text-transform: uppercase;
      font-size: var(--fs-h5);
      letter-spacing: 0.08em;
      text-align: center;
    }
  }
}

.gallery {
  padding-top: 0;
  > div {
    padding-top: var(--vert-spacing);
    flex-direction: column;
    gap: var(--vert-spacing);
  }

  &__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--margin);
    justify-content: start;
    /*
    column-count: 3;
    column-gap: var(--margin);


    &::before,
    &::after {
      content: '';
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    */
  }
}

.image {
  --col-nb: 2;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  width: calc((100% - (var(--col-nb) - 1) * var(--margin)) / var(--col-nb));
  aspect-ratio: 1 / 1;
  height: var(--img-width);
  background-color: red;

  > img {
    transition: all 0.3s ease-in-out;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    > .image__overlay {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    > img {
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);
    }
  }

  &__overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    padding: var(--padding);
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;

    transition: all 0.3s ease-in-out;

    > p {
      display: flex;
      word-break: break-word;
      color: var(--white);
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 576px) {
  .service__list {
    flex-direction: row;
    flex-wrap: wrap;
    > li {
      width: calc((100% - 2 * var(--margin)) / 3);
    }
  }

  .image {
    --col-nb: 2;

    > img {
    }
  }
}

@media screen and (min-width: 992px) {
  .gallery__images {
    width: 100%;
  }

  .image {
    --col-nb: 3;

    > img {
    }
  }
}
