.hero {
    position: relative;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    color: #ffd000;
    text-align: left;
    position: absolute;
    bottom: 10rem;
    left: 3rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-align: left;
    position: absolute;
    bottom: 8rem;
    left: 3rem;
}
