.input {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;

  @media screen and (min-width: 900px) {
    width: calc((100% - var(--margin)) / 2);
    margin-bottom: var(--margin);
  }

  > input,
  > textarea,
  > select {
    width: 100%;
    padding: var(--padding);
    background: var(--white);
    border: 1px solid var(--gray);
    font-size: var(--fs-sm);

    &:focus {
      outline: solid 1px var(--accent);
      border: solid 1px var(--accent);
    }

    &:invalid:focus {
      border: solid 1px rgb(202, 0, 0);
      outline: solid 1px rgb(202, 0, 0);
    }
  }

  > textarea {
    min-height: 240px;
    @media screen and (min-width: 900px) {
      width: 100%;
    }
  }

  *:required + span::after {
    content: '*';
  }

  > span {
    font-size: var(--fs-h5);
    letter-spacing: 0.08em;
    text-transform: uppercase;

    > small {
      text-transform: none;
      letter-spacing: normal;
    }
  }
}
