.nl {
  padding: var(--sct-vert-margin) var(--sct-horiz-margin);
  background-size: cover;
  background-position: center;
  position: relative;

  &__content {
    width: 100%;
    max-width: var(--large-content-width);
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    gap: var(--padding);
    position: relative;
  }

  &__titles {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    > p {
      margin: 0;
    }
  }

  &__input {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    > input[type='email'] {
      height: 48px;
      background: transparent;
      color: var(--white);
      border: solid 1px var(--gold);
      font-size: var(--fs-p);
      padding: 0 var(--padding);
    }
  }
}

.submit {
  color: inherit;
}

.overlay {
  position: absolute;
  background-color: var(--black);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media screen and (min-width: 576px) {
  .nl__input {
    flex-direction: row;

    > input[type='email'] {
      height: auto;
      min-width: 340px;
    }
  }
}
